@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Junior</h1>
    <h1> Hii Ravi </h1>
    <h1>wishing you a very HAPPY NEW YEAR Ravi Thank you so much for support throughout 2023.I Hope you will support me in the same way 
    in the coming 2024.</h1>
    <h4>Hey my Name is Neelam Gautam </h4>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
